@model ComplaintBox.Models.ComplaintInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ComplaintInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComplaintType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VictimName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VictimName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VictimAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VictimAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VictimGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VictimGender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PinCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
