@model IEnumerable<ComplaintBox.Models.ComplaintInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComplaintType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VictimName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VictimAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VictimGender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComplaintType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VictimName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VictimAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VictimGender)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PinCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PinCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PinCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
